h1 {
  text-align: center;
  font-size:50px;
  font-family: Arial;
  padding: 100px;
  position: relative;
  z-index: 1;
}

p {
  font-size:10px;
  text-align:center;
  font-style: italic;
  font-weight: bold;
}
.background {
    position: relative;
    overflow: hidden;
}
/*.background h1 {
    padding: 100px;
    position: relative;
    z-index: 1;
} */
.background img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.button {
    position: static;
    top:200%;
}
body {
  background-color:pink;
  opacity:0.8
}
