@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

.social-cover{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.4);
}

.cover-container {
    height:350px;
    margin-top:-25px;
    background-size:cover;
    position:relative;
    background-position:center
}

.social-avatar {
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.5) 100%);
    background: linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.5) 100%);
}

.img-avatar{
    display:block;
    border-radius: 5px;
    border:2px solid #fff;
    margin:auto;
    margin-top:50px;
}

.social-desc {
    top: 0;
    left: 0;
    bottom: 0;
    right: 300px;
    position: absolute;
}

.social-desc div {
    margin-left: 10%;
    margin-top: 100px;
}

.fg-focus-white:focus,
.fg-hover-white:hover,
.fg-white,
.fg-white .tab-container.plain .nav-tabs .b-tab.active a,
.fg-white .fg-tab-active .tab-container .nav-tabs .b-tab.active a,
.fg-white .tab-container .nav-tabs .b-tab a {
    color: #fff;
}
